h1 {
  margin-bottom: 1rem;
}

em {
  background: cyan;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.columns {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  border-left: #ddd 1px solid;
  flex-shrink: 1;
}

.column h2 {
  margin-left: 16px;
}

.result-item {
  display: block;
  //  overflow: hidden;
  background: #eee;
  padding: 1em;
  border-radius: 12px;
  margin: 10px;
}

.result-list {
  flex-direction: column;
}

.result-stack {
  flex-shrink: 1;
}

.avatar-cont {
  width: 40px;
  border: black 1px solid;
  float: left;
  position: relative;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-right: 5px;
}

.convex-logo {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin: 0 4px;
}

.author-block {
  margin-right: 5px;
}

.item-title {
  font-family: Roboto;
  font-size: 18px;
}
