.App {
  display: flex;
  flex-direction: column;
  padding: var(--size-md);
  gap: var(--size-3xl);
  padding-top: var(--size-3xl);
}

.Header {
  display: flex;
  flex-direction: column;
  gap: var(--size-md);

  &__title {
    font-family: var(--font-family-display);
    font-stretch: 151%;
    font-weight: 400;
    font-size: var(--size-3xl);
    color: var(--color-white);
  }
}

.Search {
  position: relative;

  &__input {
    font-size: var(--size-xl);
    padding: var(--size-xs);
    width: 100%;
    background: var(--color-n4);
    border: none;
    transition: all 0.25s ease;
    padding-right: var(--size-6xl);

    &:focus {
      outline: none;
      background: var(--color-white);
    }
  }

  &__submit {
    width: var(--size-6xl);
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    svg {
      width: var(--size-xl);
      height: var(--size-xl);
    }
  }
}

.Content {
  display: flex;
  flex-direction: column;
  gap: var(--size-4xl);
}

.Results {
  overflow: hidden; // Prevents horizontal scrolling.

  &__heading {
    color: var(--color-white);
    font-family: var(--font-family-display);
    font-stretch: 151%;
    padding-bottom: var(--size-md);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--size-md);
  }
}

.ResultCard {
  background: var(--color-n11);
  color: var(--color-white);
  padding: var(--size-md);
  border-radius: var(--size-3xs);
  font-size: var(--size-sm);

  &__title {
    display: block;
    font-size: var(--size-lg);
    margin-bottom: var(--size-sm);
  }
}
